.bsp/
.bloop/
.claude/
.idea/
.metals/
.vscode/
dist/
node_modules/
temp/
target/
*.class
*.log
*.tsbuildinfo
.sdkmanrc
metals.sbt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
