<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %msg   - %X{pekkoSource}%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <logger name="pekko" level="DEBUG"/>
    <logger name="org.apache.pekko.actor.typed.internal.receptionist" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>
