<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %msg   - %X{pekkoSource}%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <appender name="CapturingAppender" class="org.apache.pekko.actor.testkit.typed.internal.CapturingAppender" />

    <logger name="org.apache.pekko.actor.testkit.typed.internal.CapturingAppenderDelegate">
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="org.apache.pekko.stream.Materializer" level="OFF" />

    <root level="DEBUG">
        <appender-ref ref="CapturingAppender"/>
    </root>
</configuration>
