name: TypeScript CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  license-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: arktwin/viewer/package.json
          cache: npm
          cache-dependency-path: arktwin/viewer/package.json

      - name: npm install
        working-directory: arktwin/viewer
        run: npm install

      - name: npm run license-check
        working-directory: arktwin/viewer
        run: npm run license-check
