name: TypeScript CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  license-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: arktwin/viewer/package.json
          cache: npm
          cache-dependency-path: arktwin/viewer/package.json

      - name: npm install
        working-directory: arktwin/viewer
        run: npm install

      - name: npm run license-check
        working-directory: arktwin/viewer
        run: npm run license-check
